# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
node_modules/
dist
dist/
desktop/dist
desktop/dist/
desktop/release/
/build/icon-*.png
/build/icon.iconset/
desktop/release
desktop/release/
build
dist-ssr
*.local
.env
.env.*
!.env.example
!/build/
/build/*
!/build/icon.svg
!/build/icon.icns
!/build/icon.ico
!/build/entitlements.mac.plist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
